/Week3LoopsMethodsDemo/nbproject/private/
/Week3LoopsMethodsDemo/build/
/Lab 2/nbproject/private/
/Lab 2/build/
/Lab2Q10/nbproject/private/
/Lab2Q10/build/
/Week4_Demo/nbproject/private/
/Week4_Demo/build/
/Week4_Assignment/nbproject/private/
/Week4_Assignment/build/
/LabProgram/nbproject/private/
/LabProgram/build/
/Week4GUI_FirstApp/nbproject/private/
/Week4GUI_FirstApp/build/
/Week6_DemoInteraction/nbproject/private/
/Week6_DemoInteraction/build/
/Week6_Demo_GUI_Loops/nbproject/private/
/Week6_Demo_GUI_Loops/build/
/Week6FXMLDemo/nbproject/private/
/Week6FXMLDemo/build/
/LabAssignment3/nbproject/private/
/LabAssignment3/build/
/LabAssignment3WithJavaFX/nbproject/private/
/LabAssignment3WithJavaFX/build/
/LabAssignment4/nbproject/private/
/LabAssignment4/build/
/Week9Demo/nbproject/private/
/Week9Demo/build/
/BCS345_Week9Assignment/nbproject/private/
/BCS345_Week9Assignment/build/
